aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiolimiter==1.1.1
aioprocessing==2.0.1
aiosignal==1.4.0
aiosqlite==0.20.0
anyio==4.12.1
arrow==1.3.0
async-property==0.2.2
attrs==25.4.0
beautifulsoup4==4.14.3
browser-cookie3==0.19.1
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.4.5
click==8.3.1
cloup==3.0.8
construct==2.8.8
customtkinter==5.2.2
darkdetect==0.8.0
dill==0.3.9
diskcache==5.6.3
dotenv==0.9.9
faust-cchardet==2.1.19
filelock==3.13.4
frozenlist==1.8.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
httpx-aiohttp==0.1.12
humanfriendly==10.0
hyperframe==6.1.0
idna==3.7
inquirerpy==0.3.4
jeepney==0.9.0
limiter==0.5.0
linkify-it-py==2.1.0
lxml==5.1.1
lz4==4.4.5
markdown-it-py==4.0.0
mdit-py-plugins==0.5.0
mdurl==0.1.2
more-itertools==10.2.0
mpegdash==0.4.1
multidict==6.7.1
multiprocess==0.70.17
ofscraper==3.14.3
packaging==26.0
pathvalidate==3.2.3
pfzy==0.3.4
platformdirs==4.9.4
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==4.25.8
psutil==5.9.8
pycryptodome==3.20.0
pycryptodomex==3.23.0
Pygments==2.19.2
pymp4==1.4.0
pynumparser==1.4.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pywidevine==1.8.0
PyYAML==6.0.3
requests==2.31.0
rich==13.7.1
schedule==1.2.2
setproctitle==1.3.7
six==1.17.0
soupsieve==2.8.3
speedtest-cli==2.1.3
StrEnum==0.4.15
tenacity==8.2.3
textual==1.0.0
token-bucket==0.3.0
tqdm==4.66.6
types-python-dateutil==2.9.0.20260305
typing_extensions==4.15.0
uc-micro-py==2.0.0
Unidecode==1.4.0
urllib3==2.6.3
uvloop==0.21.0
wcwidth==0.6.0
win32-setctime==1.1.0
xxhash==3.4.1
yarl==1.23.0
